body {
    background-color: bisque;
}

h1{
    background-color: coral;
    font-size: 55px;
    color: beige;
    letter-spacing: 8px;
    word-spacing: 20px;
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
}

p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 8px;
    text-decoration: overline;
}

h2{
    /* border: 2px black solid; */
    border-top: 5px solid black;
    border-right: 5px solid rebeccapurple;
    border-bottom: 5px red groove;
    border-left: 5px  blue dotted;

    /* paddimg */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;

    /* margin */
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
}

a{
    text-decoration: none;
    font-size: 20px;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 8px;
    margin-right: 15px;
}

a:hover{
    background-color: aqua;
}